<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
    <title>ConnextCMS Moltin eCommerce Template</title>
    <link href="/styles/bootstrap/bootstrap.3.3.6.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery/jquery-2.1.4.min.js"></script>
    <script src="/js/moltin-v1.0.4.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/default.js" type="text/javascript"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/styles/style.css" rel="stylesheet" type="text/css" media="all" />	
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Mattress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="/styles/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="/js/simpleCart.min.js"> </script>
  </head>
  
	<body>
    <!-- Create and show the pre-loader animation before anything else -->
    <link rel="stylesheet" href="../styles/preloader.css">
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div>
    
		<div class="header-top">
      <div class="container">
        <div class="social">
          <ul>
            <li><a href="#"><i class="facebok"> </i></a></li>
            <li><a href="#"><i class="twiter"> </i></a></li>
            <li><a href="#"><i class="inst"> </i></a></li>
            <li><a href="#"><i class="goog"> </i></a></li>
              <div class="clearfix"></div>	
          </ul>
        </div>
        <div class="header-left">

          <!--
          <div class="search-box">
            <div id="sb-search" class="sb-search">
              <form action="#" method="post">
                <input class="sb-search-input" placeholder="Enter your search term..." type="search"  id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
              </form>
            </div>
          </div>
          -->

  <!-- search-scripts -->
          <!--	
          <script src="/js/classie.js"></script>
            <script src="/js/uisearch.js"></script>
              <script>
                new UISearch( document.getElementById( 'sb-search' ) );
              </script>
            -->
            <!-- //search-scripts -->

          <div class="">
            <div class="cartNav box_1">
              <a href="#" onclick="toggleCart()">
                <h3> 
                  <div class="total">
                    <!-- <span class="simpleCart_total"></span> -->
                  </div>
                  <!-- <img src="/images/cart.png" alt=""/></h3> -->
                  <span class="glyphicon glyphicon-shopping-cart" style="font-size: 30px;"></span>
                </h3>
              </a>
              <!-- <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p> -->

            </div>
          </div>
          <div class="clearfix"> </div>
        </div>

      </div>
		</div>
    
    <div class="container-fluid">
      <div role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="container-fluid" role='navigation'>
          <div class="navbar-header">

            <a href='/'><img src="/images/logo.jpg" style="height: 45px;" /></a>

            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>

          </div>

          <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
            <li><a href='/'>Home</a></li>

            <li class='dropdown' id="menuSection">
              <!-- <a href='/#' data-target='#' class='dropdown-toggle' data-toggle='dropdown' data-hover='dropdown'>About <span class='caret'></span></a> -->
              <a href='/#' data-target='#' class='dropdown-toggle' data-toggle='dropdown'>About <span class='caret'></span></a>
              <ul class='dropdown-menu' role='menu'>
                <li id="menuPage"><a href='#'>Our Story</a></li>                  
              </ul>
            </li>

            <li><a href="/blog">Blog</a></li>

            <!-- Sign-Out and Sign-In Menu link. -->
            <li><a href="/keystone/signin">Sign In</a></li>

          </ul>

        </div>
      </div>
    </div>
    
    <!-- Create a hidden form. This is used to process the URL. -->
    <form NAME="hiddenform" id="hiddenform">
      <INPUT TYPE="hidden" NAME="hiddentext" id="hiddentext" SIZE="50" />
    </form>
    
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		
    
    <div class="footer w3layouts">
				<div class="container">
			<div class="footer-top-at w3">
			
				<div class="col-md-3 amet-sed w3l">
				<h4>MORE INFO</h4>
				<ul class="nav-bottom">
						<li><a href="#">How to order</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="contact.html">Location</a></li>
						<li><a href="#">Shipping</a></li>
						<li><a href="#">Membership</a></li>	
					</ul>	
				</div>
				<div class="col-md-3 amet-sed w3ls">
					<h4>CATEGORIES</h4>
					<ul class="nav-bottom">
						<li><a href="#">Bed linen</a></li>
						<li><a href="#">Cushions</a></li>
						<li><a href="#">Duvets</a></li>
						<li><a href="#">Pillows</a></li>
						<li><a href="#">Protectors</a></li>	
					</ul>
					
				</div>
				<div class="col-md-3 amet-sed agileits">
					<h4>NEWSLETTER</h4>
					<div class="stay agileinfo">
						<div class="stay-left wthree">
							<form action="#" method="post">
								<input type="text" placeholder="Enter your email " required="">
							</form>
						</div>
						<div class="btn-1 w3-agileits">
							<form action="#" method="post">
								<input type="submit" value="Subscribe">
							</form>
						</div>
							<div class="clearfix"> </div>
			</div>
					
				</div>
				<div class="col-md-3 amet-sed agileits-w3layouts">
				<h4>CONTACT US</h4>
					<p>Contrary to popular belief</p>
					<p>The standard chunk</p>
					<p>office :  +12 34 995 0792</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-class w3-agile">
		<p>© 2015 Mattress . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		</div>
		</div>
		
    <!-- .cart begin -->
    <div class="cart">

      <!-- .cart-section begin // cart header -->
      <div class="cart-section cart-section--top">
        <h2 class="cart-title">Your cart</h2>
        <button class="btn--close">
          <span aria-role="hidden">×</span>
          <!-- <span class="visuallyhidden">Close</span> -->
        </button>
      </div>
      <!-- .cart-section end -->

      <!-- .cart-form begin // cart body -->
      <div class="cart-form">
        <div class="cart-item-container cart-section">
          <!-- cart items will be added here -->
        </div>

        <!-- .cart-bottom begin -->
        <div class="cart-bottom">
          <div class="cart-info clearfix cart-section">
            <div class="type--caps cart-info__total cart-info__small">Total</div>
            <div class="cart-info__pricing">
              <span class="cart-info__small cart-info__total">USD</span>
              <span class="pricing pricing--no-padding"></span>
            </div>
          </div>
          <div class="cart-actions-container cart-section type--center">
            <div class="cart-discount-notice cart-info__small">Shipping and discount codes are added at checkout.</div>
            <input type="button" class="btn btn--cart-checkout" id="checkout" name="checkout" value="Checkout" onclick="startCheckout()" />
          </div>
        </div>
        <!-- .cart-bottom end -->

      </div>
      <!-- .cart-form end -->

    </div>
    
    
    
    <!-- Cart Line Item template -->
    
    <script id="cart-item-template" type="text/template">

        <div class="container-fluid" style="padding: 10px;">
          <div class="row" style="min-height: 60px;">
            
            <div class="col-xs-3" style="">
              <img src="http://placehold.it/50x50" class="img-responsive center-block item-image" style="padding: 5px;" />
            </div>
            
            <div class="col-xs-6" style="">
              <p class="item-title">Title</p>
              <p class="item-quantity">Quantity:</p>
              <div>
                <button class="btn btn-xs btn-success increase-qty" type="button"><span class="glyphicon glyphicon-chevron-up"></span></button>
                <button class="btn btn-xs btn-success decrease-qty" type="button"><span class="glyphicon glyphicon-chevron-down"></span></button>
              </div>
            </div>
            
            <div class="col-xs-3" style="">
              <p class="item-price">Price</p>
              <button class="btn btn-xs btn-danger remove-btn" type="button">Remove</button>
            </div>
            
          </div>
        </div>

    </script>
    
    
    <style>
      /*
      .product {
        max-width: 400px;
        box-shadow: 0 0 15px 5px #eee;
        padding: 30px;
        margin-bottom: 40px;
      }

      .product__image,
      .variant-image {
        margin: 0 !important;
      }

      .product__buy,
      .button,
      .btn {
        background: #7ab55c;
        font-size: 16px;
        padding: 0.5625em 1.875em !important;
        color: white !important;
        text-decoration: none;
        border-radius: 3px;
        display: inline-block;
        border: none;
        text-shadow: none;
        font-weight: normal;
        transition: 150ms ease-in-out;
      }

      .product__buy:hover,
      .button:hover,
      .btn:hover {
        text-decoration: none;
        background: #6aa74c;
        text-shadow: none;
      }

      

      .product .variant-title,
      .product .variant-price {
        margin: 0 0 10px !important;
      }

      .variant-selectors {
        margin-bottom: 20px;
      }

      .variant-selectors select {
        width: 100%;
      }
      */
      .btn--cart-checkout {
        width: 100%;
        text-align: center;
        cursor: pointer;
        background: #6aa74c;
      }
      
      .cart {
        position: fixed;
        width: 100%;
        max-width: 350px;
        height: 100%;
        right: 0;
        top: 130px;
        background: white;
        border-radius: 1px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
        transform: translateX(100%);
        transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
      }

      .cart.js-active {
        transform: translateX(0);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 20;
      }

      .cart-section {
        position: relative;
        padding: 20px;
      }

      .cart-section--top {
        z-index: 5;
      }

      h2.cart-title {
        display: inline-block;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 90%;
        margin-top: 0;
        margin-bottom: 0;
      }

      .btn--close {
        position: absolute;
        right: 9px;
        top: 8px;
        font-size: 35px;
        color: #999;
        border: none;
        background: transparent;
        transition: transform 100ms ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
          color: #666;
        }
      }

      .cart-form {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        padding: 70px 0 140px 0;
      }

      .cart-item-container {
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        perspective: 400px;
        perspective-origin: 50% 0px;
      }


      .cart-item {
        margin-bottom: 20px;
        overflow: hidden;
        backface-visibility: visible;
        min-height: 65px;
        position: relative;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;  
      }

      .cart-item.js-hidden {
        opacity: 0;
      }

      .cart-item.js-working:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        z-index: 2;
      }

      .cart-item__img {
        width: 65px;
        height: 65px;
        border-radius: 3px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #e5e5e5;
        position: absolute;
      }

      .cart-item__content {
        width: 100%;
        padding-left: 75px;
      }

      .cart-item__content-row {
        margin-bottom: 5px;
      }

      .cart-item__variant-title {
        float: right;
        font-weight: bold;
        font-size: 11px;
        line-height: 17px;
        color: #767676;
      }

      .cart-item__quantity-container {
        border: 1px solid #767676;
        float: left;
        border-radius: 3px;
      }

      .quantity-decrement, .quantity-increment {
        color: #767676;
        display: block;
        float: left;
        height: 21px;
        line-height: 16px;
        font-family: monospace;
        width: 25px;
        padding: 0;
        border: none;
        background: transparent;
        box-shadow: none;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
      }

      .cart-item__quantity {
        color: black;
        width: 38px;
        height: 21px;
        font-size: inherit;
        border: none;
        text-align: center;
        -moz-appearance: textfield;
        background: transparent;
        border-left: 1px solid #767676;
        border-right: 1px solid #767676;
        display: block;
        float: left;
        padding: 0;
        border-radius: 0;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .cart-item__price {
        line-height: 23px;
        float: right;
        font-weight: bold;
      }

      .cart-bottom {
        border-top: 1px solid #e5e5e5;
        position: fixed;
        bottom: 120px;
        max-width: 350px;
        width: 100%;
      }

      .cart-info {
        padding: 15px 20px 10px;
      }

      .cart-info__total {
        float: left;
        text-transform: uppercase;
      }

      .cart-info__small {
        font-size: 11px;
      }

      .cart-info__pricing {
        float: right;
      }

      .cart-discount-notice {
        // color: $color-title;
        margin-bottom: 10px;
      }

      .cart-actions-container {
        padding-top: 5px;
      }

      .pricing {
        margin-left: 5px;
        font-size: 16px;
        color: black;
      }
    </style>
    <!-- .cart end -->
    
    
    
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<!-- <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> -->
    <script src="/js/lib/bootstrap.3.3.6.js"></script>
    <!-- https://github.com/CWSpear/bootstrap-hover-dropdown -->
    <script src="/js/bootstrap-hover-dropdown.min.js"></script>
		{{{isAdminEditorJS user}}}
    
    <!-- Import server settings -->
    <!-- <script src="/js/serversettings.js"></script> -->
    
    <!-- Generate the navigation menu -->
    <script type="text/javascript">var section = {{{JSON section}}};</script>
    <script src="/js/navMenu.js" type="text/javascript"></script>
    
    
    <!-- Hide the preloader after the page has loaded -->
    <script type="text/javascript">

      //Switch control of the preloader.
      if(typeof(turnOffLoader) == "undefined") {
        //If the variable hasn't already been defined, initialize it as true.
        var turnOffLoader = true;
      //If it has been defined, then a page is trying to override the default behavior.
      } else {
        
      }
      
      $(document).ready(function() {
        
        var preLoaderTimer = setInterval(function() {
          
          if(turnOffLoader) {
            $('#loader-wrapper').hide();   //Remove the pre-loader
            clearInterval(preLoaderTimer); //Turn off the timer.
          }
            
        }, 500);
        
      });
    </script>
    
	</body>
</html>
